*{
    font-family: "Times New Roman", Times, serif;
}

h1{
    background-color: red;
    color: green;
}

h2, h3{
    background-color: aqua;
    color: black;
}

img{
    height: 200px;
    width: auto;
}

ol {
    background-color: red;
    color: white;
    margin-bottom: 50px;
}

ol li:last-child {
    background-color: green;
}

ol li:marker {
    background-color: green;
}

a {
    display: block;
}
